/* Spotlight Component Styles */

.spotlight {
  position: absolute;
  pointer-events: none;
  z-index: 1;
}

.spotlight__svg {
  width: 150%;
  height: auto;
  min-width: 800px;
}

.spotlight-beam {
  position: absolute;
  pointer-events: none;
  z-index: 1;
}

.spotlight-beam__svg {
  width: 100%;
  height: 100%;
}
